.resume-page-card {
  width: 300px;
  border: 1px solid #0c650c;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.resume-page-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}
